
    <div class="fullback">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <h3>Login Here</h3>
    
            <label for="username">Username</label>

            <input type="text" placeholder="Email or Phone" id="username"  formControlName="userName">
    
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password"  formControlName="password">
           
             <button type="submit" [disabled]="myForm.invalid">Send</button>
          
        </form>
    </div>
   
