<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Template By MB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/s1">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact  Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>    
        </ul>
      </div>
    </div>
</nav> -->


    <app-navbar></app-navbar>


<!-- <p class="text">Mobile Navigation</p> -->


<!-- <app-navbar></app-navbar>
<app-forms></app-forms> 
<app-observable></app-observable>
-->
<!-- <app-pipe></app-pipe>
<app-http-request></app-http-request> -->

<div class="container-fluid mt-3">
 
  <router-outlet></router-outlet>
</div>

<!-- <div class="container mt-3">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2>Accordion</h2>
            <app-accordion-v1 [item]="currentItem"></app-accordion-v1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
           
            <app-card [item]="cardTypeSimple"></app-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            
            <app-card [item]="cardTypeFlip"></app-card>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            
            <app-card [item]="cartTypeUserProfileCard"></app-card>
        </div>
    </div>
   
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <h2>Table</h2>
            <app-base></app-base>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12">
          <h2>Tab</h2>
          <app-tab></app-tab>
      </div>
  </div>
   
</div> -->

<!-- <app-login></app-login> -->





