
<div class="card" *ngIf="cartType_simple">
   <img />
    <img  style="width:100%; height: 70%;" [src]="imagePath" />
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
</div>

<div class="flip-card" *ngIf="cartType_flip">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img [src]="imagePath"  alt="Avatar" style="width:100%; height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1> 
      <p>Architect & Engineer</p> 
      <p>We love that guy</p>
    </div>
  </div>
</div>

<div class="card" *ngIf="cartType_User_Profile_Card">
  <img [src]="imagePath" alt="John"  style="width:100%; height: 100%;">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>