
<div class="card" *ngIf="cartType_simple">
   <img />
    <img  style="width:100%; height: 70%;" [src]="imagePath" />
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
    </div>
</div>

<div class="flip-card" *ngIf="cartType_flip">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img [src]="imagePath"  alt="Avatar" style="width:100%; height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1> 
      <p>Architect & Engineer</p> 
      <p>We love that guy</p>
    </div>
  </div>
</div>